<div class="container">
<h2>Angular modul megoldása</h2>

<label for="sulyMezo">Add meg a súlyod kilógrammban:</label>
<input type="number" class="form-control" id="sulyInput" [(ngModel)]="suly">

<label for="magassagMezo">Add meg a magasságod méterben:</label>
<input type="number" class="form-control" id="sulyInput" [(ngModel)]="magassag">

<button type="button" class="btn btn-success form-control" (click)="EredmenyMentes()">Eredmény mentése</button>
</div>

<p>A megadott érték alapján a testtömeg index: {{suly/(magassag*magassag)}}</p>

<ul>
  <li *ngFor="let lista of eredmeny">{{lista}}</li>
</ul>

